.wrapper {
  &__footer {
    padding: rem(30) 0;
    background-color: $colorBrown;
  }
}
.footer {
  // &__container { }

  &__bread-crumbs {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: $colorGray;
    margin-bottom: rem(30);
    font-size: rem(14);
  }

  &__body {
    margin-bottom: rem(60);
    @media (max-width: em(767.98)) {
      margin-bottom: rem(30);

      & > :not(:last-child) {
        margin-bottom: rem(30);
      }
    }
    @media (min-width: em(767)) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: rem(30);
    }
  }

  &__out-row {
    color: $colorGray;
    font-size: rem(15);
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(10) rem(30);
    @media (max-width: em(447.98)) {
      font-size: rem(13);
    }
  }
}
.bread-crumbs {
  &__next {
    &.active {
      pointer-events: none;
    }
    display: flex;
    gap: rem(8);
    align-items: center;
    &:not(:last-child) {
      &::after {
        flex: 0 0 rem(8);
        content: "";
        width: rem(5);
        height: rem(8);
        background: url(../img/footer/arrow__gray.svg) center no-repeat;
      }
    }
  }
}
.footer-body {
  &__main {
    max-width: rem(255);
    color: $colorGray;
  }

  &__logo {
    display: inline-block;
    font-weight: 800;
    font-size: rem(32);
    line-height: 1.28;
    color: #747474;
    transition: color 400ms ease;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }

    &.active {
      pointer-events: none;
    }
    @media (max-width: em(767.98)) {
      font-size: rem(26);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue;
      }
    }
  }

  &__label {
    font-size: rem(16);
    margin-bottom: rem(34);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: rem(10);
    & a {
      transition: all 300ms ease;

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    & img {
      max-width: 100%;
      text-align: center;
    }
  }

  &__box {
    @media (min-width: em(991)) {
      gap: rem(30);
    }
    @media (min-width: em(500)) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(130), 1fr));
      gap: rem(20);
    }
    @media (max-width: em(500.98)) {
      & > :not(:last-child) {
        margin-bottom: rem(33);
      }
    }
  }

  &__column {
    color: $colorWhite;
    font-size: rem(16);
    & > :not(:last-child) {
      margin-bottom: rem(15);
    }

    @media (min-width: em(991)) {
      &:nth-child(1) {
        justify-self: center;
      }
    }
    @media (max-width: em(447.98)) {
      & > :not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }

  &__title {
    font-weight: 600;
    @media (max-width: em(500.98)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem(15);
      border-bottom: rem(1) solid $colorWhite;
      cursor: pointer;
      &.active {
        border-bottom: rem(1) solid transparent;
        &::after {
          transform: rotate(90deg);
        }
      }

      &::after {
        content: "";
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        background: url(../img/footer/arrow_white.svg) center no-repeat;
        transition: transform 300ms ease;
      }
    }
  }

  &__list {
    & > :not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (max-width: em(500.98)) {
      display: none;
    }
  }

  // &__item {}

  &__link {
    @include underline-center($colorWhite, $colorWhite);
    @media (max-width: em(447.98)) {
      font-size: rem(15);
    }
  }
}
.out-row {
  &__copyright {
    flex: 1 1 auto;
  }

  &__privacy,
  &__agreement {
    flex: 0 0 auto;
    @include underline-center($colorGray, $colorGray);
  }
  @media (max-width: em(767.98)) {
    &__copyright {
      flex: 1 1 100%;
    }
  }
}
