.page {
  &__main {
    padding-top: rem(100);
    padding-bottom: rem(82);
    background-color: $colorDecore;
    @media (max-width: em(767.98)) {
      padding-top: rem(100);
      padding-bottom: rem(50);
    }
  }
}
.main {
  // &__container {}
  &__content {
    margin-bottom: rem(71);
    max-width: rem(750);
    @media (max-width: em(767.98)) {
      margin-bottom: rem(60);
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(48);
    margin-bottom: rem(15);
    @media (max-width: em(767.98)) {
      font-size: rem(24);
    }
  }

  &__text {
    margin-bottom: rem(25);
    max-width: rem(340);
    @media (max-width: em(767.98)) {
      font-size: rem(14);
      max-width: rem(265);
    }
  }

  &__link {
    font-weight: 600;
    color: $colorWhite;
    background-color: $colorBlue;
    border: rem(1) solid transparent;
    padding: rem(15);
    min-width: rem(156);
    text-align: center;
    display: inline-block;
    border-radius: rem(10);
    transition: all 400ms linear;
    @media (any-hover: hover) {
      &:hover {
        color: $colorBlue;
        background-color: transparent;
        border: rem(1) solid $colorBlue;
      }
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: rem(40);
    @media (min-width: em(991)) {
      justify-content: space-between;
    }
    @media (max-width: em(500)) {
      gap: rem(20);
    }
  }
}
.main-body {
  &__column {
    flex: 0 0 auto;
    text-align: center;
    & > :not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (max-width: em(500)) {
      &:last-child {
        flex: 0 0 45%;
        min-width: rem(190);
      }
    }
  }
  &__text,
  &__name {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
  }

  &__value {
    font-weight: 700;
    font-size: rem(36);
    color: $colorBlack;
  }
  &__text {
    max-width: rem(309);
    text-align: left;
    & a {
      color: rgba(0, 110, 255, 0.6);
      display: inline-block;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: rem(1);
        bottom: rem(-1);
        right: 0;
        background-color: rgba(0, 110, 255, 0.6);
        transition: all 300ms ease;
      }
      @media (any-hover: hover) {
        &:hover::before {
          width: 0;
        }
      }
    }
  }
}

// !

.community {
  &__container {
    padding-bottom: rem(70);
    @media (max-width: em(767.98)) {
      padding-bottom: rem(50);
    }
  }

  // &__title {}

  &__body {
    @include grid(290, 1fr, 30, 10);
    @media (max-width: em(991.98)) {
      grid-template: 1fr 1fr / 1fr;
    }
  }
}
.community-body {
  &__item {
    @include img(57.142857%, 12);
    @include img-animate;

    &_big {
      @media (min-width: em(991)) {
        grid-column: 1/3;
      }
      @include img(27.39726%, 15);
    }
  }
}
// !

.reviews {
  &__container {
    padding-bottom: rem(70);
    @media (max-width: em(767.98)) {
      padding-bottom: rem(50);
    }
  }

  // &__title { }

  &__swiper {
    padding-bottom: rem(50);
  }

  &__wrapper {
    max-width: rem(1066);
  }

  // &__slide {}

  &__swiper-navigation {
    position: absolute;
    max-width: rem(150);
    width: 100%;
    height: rem(24);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(5);
    // z-index: 1;
  }

  &__swiper-pagination {
    position: relative;
    z-index: 1;
    .swiper-pagination-bullet {
      width: rem(12);
      height: rem(12);
      overflow: hidden;

      border-radius: 50%;
      background-color: #d9d9d9;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $colorBlue;
    }
  }
  .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }
  &__swiper-button-prev,
  &__swiper-button-next {
    position: relative;
    z-index: 2;
    &::after {
      color: #d9d9d9;
      font-size: rem(20);
    }
  }
}
.swiper-slide {
  &__text {
    margin-bottom: rem(16);
    font-size: rem(18);
  }

  &__author {
    margin-bottom: rem(8);
  }

  &__about-autor {
    font-size: rem(13);
    color: #a0a0a0;
  }
}

// !
.seo {
  &__container {
    max-width: rem(920);
    padding-bottom: rem(70);
    @media (max-width: em(767.98)) {
      padding-bottom: rem(50);
    }
  }

  &__content {
    overflow-y: auto;
    max-height: rem(300);
    padding-right: rem(40);
    @media (max-width: em(447.98)) {
      max-height: rem(345);
    }

    & > :not(:last-child) {
      margin-bottom: rem(16);
    }
    &::-webkit-scrollbar {
      background-color: #d9d9d9;
      border-radius: rem(30);
      width: rem(8);
      @media (max-width: em(447.98)) {
        width: rem(4);
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorBlue;

      border-radius: rem(30);
      width: rem(8);
      @media (max-width: em(447.98)) {
        width: rem(4);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(24);
    margin-bottom: rem(16);
  }

  // &__text {}

  &__sub-title {
    font-weight: 600;
    font-size: rem(16);
  }
}
