.page {
  &__partners {
    padding-top: rem(30);
    padding-bottom: rem(70);
    @media (max-width: em(767.98)) {
      padding-top: rem(100);
      padding-bottom: rem(50);
    }
  }
}
.partners {
  // &__container {}

  // &__title {}

  &__body {
    & > :not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: rem(20);
    gap: rem(20);
    background: $colorWhite;
    box-shadow: 0 rem(2) rem(12) rgba(0, 0, 0, 0.2);
    border-radius: rem(20);

    @media (any-hover: hover) {
      &:hover {
        .partners-item__link {
          color: $colorBlue;
          background-color: transparent;
          border: rem(1) solid $colorBlue;
        }
      }
    }
  }
}

.partners-item {
  &__image {
    flex: 0 0 auto;
    & img {
      max-width: 100%;
      text-align: center;
      border-radius: 50%;
    }
  }

  &__content {
    font-size: rem(16);

    & > :not(:last-child) {
      margin-bottom: rem(7);
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.38;
  }

  // &__text {}

  &__link {
    display: none;
    @media (min-width: em(767)) {
      display: block;
      min-width: rem(157);
      padding: rem(15);
      background-color: $colorBlue;
      text-align: center;
      color: $colorWhite;
      border-radius: rem(10);
      margin: 0 0 0 auto;
      transition: all 500ms linear;
    }
  }
}
